@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/raleway/Raleway-Regular.eot');
    /* IE9 Compat Modes */
    src: url('assets/fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/raleway/Raleway-Regular.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/raleway/Raleway-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/raleway/Raleway-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-button:hover {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #D01B76;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #880769;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 7px;
}

* {
    font-family: 'Raleway', 'Arial';
}

body {
    margin: 0;
    padding: 0;
}

#loader-underlay {
    z-index: 999;
    background: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#loader-overlay {
    z-index: 1000;
    background: #840668;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #840668 0%, #840668 40%, #db1d7c 60%, #db1d7c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #840668 0%, #840668 40%, #db1d7c 60%, #db1d7c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #840668 0%, #840668 40%, #db1d7c 60%, #db1d7c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#840668', endColorstr='#db1d7c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: all 3s;
}

#loader-underlay #loader-img {
    position: fixed;
    height: 150px;
    width: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
}

#loader-overlay #loader-svg {
    position: fixed;
    height: 150px;
    width: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    display: none;
}

app-recorder {
    overflow: hidden;
}

.tooltip {
    position: relative;
    /* display: inline-block; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333333 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}