<div id="recorder">
  <img id="logo" src="/assets/img/hymnspot.min.png" />
  <canvas id="visualCanvas" width="400" height="400"></canvas>

  <div class="record-container tooltip">
    <input type="checkbox" id="btn" [(ngModel)]="chk" [disabled]="chk" (change)="chkchanged($event)" />
    <label for="btn"></label>
    <div class="time">
      <div class="h_m"></div>
      <div class="s_ms"></div>
    </div>
    <span id="record-btn-tooltiptext" class="tooltiptext">Start Recording</span>
  </div>
  {{chk}}
</div>
<button id="resultFoundButton" mat-raised-button color="accent" [disabled]="!chk" (click)="resultFound($event)">Result Found</button>
<app-result class="not-displayed"></app-result>