<div id="recorder">
  <div class="w3-sidebar w3-bar-block w3-white w3-animate-left" id="sidebar">
    <mat-list style="padding:0;">
      <mat-list-item></mat-list-item>
    </mat-list>
    <img src="assets/img/logo/hymnspot-span-min.png" style="width: calc(100% - 10px); cursor: pointer;" onclick="location.href='/';"
    />
    <mat-list style="padding:0;">
      <mat-list-item></mat-list-item>
      <mat-list-item id="songsMenu" class="w3-text-theme w3-hover-theme w3-hover-text-white sidebar-menu-item" (click)="showMeta('songs')">
        <div class="sidenav-icon-holder">
          <i class="fas fa-headphones w3-xlarge w3-text-white sidenav-icon"></i>
        </div>
        <div class="sidenav-text">
          Songs
        </div>
      </mat-list-item>
      <mat-list-item id="aboutMenu" class="w3-text-theme w3-hover-theme w3-hover-text-white sidebar-menu-item" (click)="showMeta('about')">
        <div class="sidenav-icon-holder">
          <i class="fas fa-info-circle w3-xlarge w3-text-white sidenav-icon"></i>
        </div>
        <div class="sidenav-text">
          About
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="w3-overlay w3-animate-opacity" onclick="sidebar_close()"></div>
  <div class="hamburger hamburger--spin" onclick="sidebar_toggle()">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>

  <div id="songsMeta" class="w3-theme meta w3-animate-right">
    <div class='close-icon' (click)="closeMeta('songs')"></div>
    Songs
  </div>
  <div id="aboutMeta" class="w3-theme meta w3-animate-right">
    <div class='close-icon' (click)="closeMeta('about')"></div>
    About
  </div>

  <img id="logo" src="assets/img/logo/hymnspot-min.png" />
  <canvas id="visualCanvas" width="400" height="400"></canvas>
  <div class="record-container tooltip">
    <input type="checkbox" id="btn" [(ngModel)]="chk" [disabled]="chk" (change)="chkchanged($event)" />
    <label for="btn"></label>
    <div class="time">
      <div class="h_m"></div>
      <div class="s_ms"></div>
    </div>
    <span id="record-btn-tooltiptext" class="tooltiptext">Start Recording</span>
  </div>
</div>
<button id="resultFoundButton" mat-raised-button color="accent" [disabled]="!chk" (click)="resultFound($event)">Result Found</button>
<app-result [result]="songResult" class="not-displayed"></app-result>